footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    columns: 5;
}

.icon-footer {
    font-size: 14px;
}

.icono{
    padding: 13px;
    text-align: center;
    font-size: 20px;
}

p{
    text-align: center;
}

.alinear{
    text-align: left;
    columns: 7;
    padding: 12px;
    font-size: 28px;
}